.card {
  color: yellow;
  position: relative;
  border-radius: 10px;
  background: #012926;
}
.fb {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(26, 34, 41, 0.5);
  border-radius: 10px;
  cursor: pointer;
}
// .fb:hover {
//   transform: rotateY(180deg);
// }
.open {
  transform: rotateY(180deg);
}
// .close {
//   transform: rotateY(0deg);
// }
.front {
  background: #02ccba;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.back {
  background: #025c56;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.same {
  box-shadow: inset 0 0 10px #9bd6f1;
  background-color: #262829;
  transition: all 0.5s ease;
  pointer-events: none;
  cursor: not-allowed;
}
.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 60%;
  height: 50%;
  z-index: 20;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 20px;
  display: none;
  padding: 2rem;
  h1 {
    // text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
    text-transform: uppercase;
  }
  div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    text-transform: capitalize;
  }
  button {
    margin: auto;
    width: 30%;
    padding: 1.5rem;
    margin-top: 6rem;
    border-radius: 10px;
    border: none;
    background-color: green;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    word-spacing: 0.7rem;
    outline: none;
    // text-align: center;
  }
  button:hover {
    background-color: rgb(27, 129, 27);
  }
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(4px);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

@media (max-width: 900px) {
  .modal {
    height: 60%;
  }
}

@media (max-width: 650px) {
  .modal {
    width: 100%;
    height: 60%;
    button {
      width: 50%;
    }
  }
}
