.container {
  padding: 2rem;
  background-color: yellow;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border-radius: 10px;
}

.card_container {
  width: 550px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
}

.info {
  //   background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  height: 50px;
  div {
    font-size: 1.8rem;
  }
}

.rating,
.modal_rating {
  color: #ffe234;
}
.modal_rating,
.modal_moves {
  margin-left: 1rem;
}
@media (max-width: 660px) {
  .card_container {
    width: 450px;
    height: 450px;
  }
  .info {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .card_container {
    width: 350px;
    height: 350px;
  }
  .info {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .card_container {
    width: 300px;
    height: 300px;
  }
  .info {
    width: 350px;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
